body{
    color: #555
}

.banner h2{
    margin-top: 1.5em;
    font-size:28px;
    max-width: 18em;
    text-align: center;
    color:#333
}
    


.navbar-brand {
    padding: 5px 10px
    }

.up{
    text-transform: uppercase
}

.container{
    width: 1200px
}

header .row{
    padding: 1em 0
}

a{
    color: #333
}

.navbar{
        margin-bottom: 0
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

.img-responsive{
    margin: 0 auto
}

.banner{
    background: url(../images/ban2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    height: 500px;
    background-position: center center;
}

.banner .container-fluid{
    color: #0188cc;
    height: 500px
}

.primary{
    color: #333
}
.btn-success{
    background-color: transparent;
    border-color: skyblue;
    text-transform: uppercase
}





.mt-2{
    margin-top: 2em 
}

.mt-3{
    margin-top: 3em 
}

.equip img{
    width: 200px
}

.equip{
    max-width: 90%;

}

.mx-auto{
    margin: 3em auto
}


.about{
    background: url(../images/03.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.about .container-fluid{
    background: rgba(250,250,250,0.4);

}


@media (max-width: 468px) {
.media-left{
    display: block
}
}


blockquote{
    max-width: 80%;
    color:black
}


video{
   z-index:-1;
   width:80%;
   min-height:100%;
   overflow:hidden;

}

.thumbnail {
    display: inline-block
}
.services{
    background: url(../images/01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.services .row{
    max-width: 80em
}

.btn-primary{
        color: #0188cc;
    background-color: transparent;
    border-color: #0188cc;
}


.thumbnail .caption{
    background: #0088cc;
    color: #eee;
}
